@import url("https://fonts.googleapis.com/css?family=Montserrat:900italic&display-swap&subset=cyrillic-ext");

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-bolditalic.woff") format("woff"), url("../fonts/gilroy-bolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-heavyitalic.woff") format("woff"), url("../fonts/gilroy-heavyitalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  display: inline-block;
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Gilroy";
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.-container {
  max-width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}

.-ai {
  position: relative;
}

.-ai img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

input {
  height: 100%;
  width: 100%;
  display: block;
}

body,
html {
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

.win {
  min-height: 100vh;
  position: relative;
  background: url("../img/win/image-x1920.jpg") center/cover no-repeat;
}

.win__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.win__row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 93px 0px 228px 0px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 436px;
  grid-template-columns: 1fr 436px;
  gap: 26px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.win__body {
  position: relative;
  z-index: 2;
}

.win__title {
  font-style: italic;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
  font-size: 89px;
  line-height: 92.1348314607%;
  color: #fff;
}

.win__title:not(:last-child) {
  margin: 0px 0px -13px 0px;
}

.win__title span {
  display: block;
  font-size: 132px;
  line-height: 92.4242424242%;
  color: #afdd2b;
}

.win__subtitle {
  text-align: center;
}

.win__subtitle img {
  max-width: 374px;
}

.win__subtitle:not(:last-child) {
  margin: 0px 0px -8px 0px;
}

.win__info {
  font-style: italic;
  font-weight: 900;
  font-size: 28px;
  line-height: 103.5714285714%;
  text-align: center;
  color: #ffffff;
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
  position: relative;
  padding: 24px 57px 13px;
}

.win__info:not(:last-child) {
  margin-bottom: 61px;
}

.win__info p {
  position: relative;
  z-index: 2;
}

.win__info::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: calc(100% - 62px);
  height: 100%;
  background: rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  -webkit-transform: translate(-50%, 0) skew(-20deg, 0deg);
  -ms-transform: translate(-50%, 0) skew(-20deg, 0deg);
  transform: translate(-50%, 0) skew(-20deg, 0deg);
}

@supports ((-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px))) {
  .win__info::before {
    background: rgba(0, 0, 0, 0.38);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
  }
}

.win__info .yellow {
  color: #ffab2d;
}

.win__info p > span:not(.yellow) {
  font-weight: 700;
  font-size: 30px;
  line-height: 103.3333333333%;
}

.win__info p > span .yellow {
  font-weight: 900;
}

.win__info p > span:not(:first-child) {
  margin: 10px 0px 0px 0px;
}

.win__desc {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 92.0628px #000000;
}

.win__form {
  position: relative;
  z-index: 2;
}

.form-win {
  padding: 57px 43px;
  background-color: rgba(0, 0, 0, 0.38);
  border: 1px solid #444444;
  -webkit-box-shadow: inset 0px 4px 22px rgba(255, 255, 255, 0.65);
  box-shadow: inset 0px 4px 22px rgba(255, 255, 255, 0.65);
  border-radius: 19px;
}

@supports ((-webkit-backdrop-filter: blur(30px)) or (backdrop-filter: blur(30px))) {
  .form-win {
    background-color: rgba(0, 0, 0, 0.38);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }
}

.form-win__title {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
  line-height: 122.8571428571%;
  text-align: center;
  color: #ffffff;
}

.form-win__title span {
  color: #dfde04;
}

.form-win__title:not(:last-child) {
  margin: 0px 0px 38px 0px;
}

.form-win__inputs:not(:last-child) {
  margin: 0px 0px 39px 0px;
}

.form-win__input {
  height: 61px;
  border-radius: 19px;
  -webkit-transition: -webkit-box-shadow 0.4s ease 0s;
  transition: -webkit-box-shadow 0.4s ease 0s;
  -o-transition: box-shadow 0.4s ease 0s;
  transition: box-shadow 0.4s ease 0s;
  transition: box-shadow 0.4s ease 0s, -webkit-box-shadow 0.4s ease 0s;
}

.form-win__input.-error {
  -webkit-box-shadow: 0 0 10px red;
  box-shadow: 0 0 10px red;
}

.form-win__input input {
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #ffffff;
  -webkit-box-shadow: inset 0px 4px 17px rgba(255, 255, 255, 0.45);
  box-shadow: inset 0px 4px 17px rgba(255, 255, 255, 0.45);
  border-radius: 19px;
}

.form-win__input input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #999999;
}

.form-win__input input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #999999;
}

.form-win__input input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #999999;
}

.form-win__input input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #999999;
}

.form-win__input input,
.form-win__input input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #999999;
}

@supports ((-webkit-backdrop-filter: blur(40px)) or (backdrop-filter: blur(40px))) {
  .form-win__input input {
    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }
}

.form-win__footer {
  text-align: center;
}

.form-win__btn {
  padding: 15px 30px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 900;
  font-size: 22px;
  line-height: 122.7272727273%;
  color: #212121;
  border-radius: 12px;
  text-align: center;
  position: relative;
}

.form-win__btn span {
  position: relative;
  z-index: 2;
}

.form-win__btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: -o-linear-gradient(top, #e7dd04 0%, #cdde04 97.4%);
  background: -webkit-gradient(linear, left top, left bottom, from(#e7dd04), color-stop(97.4%, #cdde04));
  background: linear-gradient(180deg, #e7dd04 0%, #cdde04 97.4%);
  -webkit-box-shadow: 0px 3px 0px #a7b50b, 0px 2px 32px rgba(219, 255, 0, 0.9);
  box-shadow: 0px 3px 0px #a7b50b, 0px 2px 32px rgba(219, 255, 0, 0.9);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.form-win__btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: -o-linear-gradient(top, #c9c01a 0%, #bcca1b 97.4%);
  background: -webkit-gradient(linear, left top, left bottom, from(#c9c01a), color-stop(97.4%, #bcca1b));
  background: linear-gradient(180deg, #c9c01a 0%, #bcca1b 97.4%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.win__footer {
  padding: 0 0 30px;
  font-weight: 700;
}

.win__footer p {
  color: #fff;
}

.win__footer a {
  text-decoration: underline;
}

.win__footer p:not(:last-child) {
  margin: 0 0 10px 0;
}

.webp .win {
  background: url(../img/win/image-x1920.webp) center/cover no-repeat;
}

@media (min-width: 999.98px) {
  .win__image {
    position: absolute;
    top: -60px;
    right: -278px;
    width: 1010px;
    height: 903px;
    background: url("../img/win/image-02-x1920.png") 0/cover no-repeat;
    -webkit-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    transform: rotate(-9deg);
  }

  .form-win__inputs {
    display: -ms-grid;
    display: grid;
  }

  .webp .win__image {
    background: url(../img/win/image-02-x1920.webp) 0/cover no-repeat;
  }
}

@media (min-width: 1120px) {
  .win__logo {
    margin: 0px 0px 0px 142px;
  }

  .win__form {
    margin: 208px 0px 0px 0px;
  }

  .form-win__input:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 1919.98px) {
  .win {
    background: url("../img/win/image-x1440.jpg") center/cover no-repeat;
  }

  .win__row {
    padding: 109px 0px 228px 0px;
  }

  .win__logo img {
    max-width: 251px;
  }

  .win__title:not(:last-child) {
    margin: 0px 0px -11px 0px;
  }

  .win__subtitle:not(:last-child) {
    margin: 0px 0px -2px 0px;
  }

  .webp .win {
    background: url(../img/win/image-x1440.webp) center/cover no-repeat;
  }
}

@media (max-width: 1439.98px) {
  .win {
    background: url("../img/win/image-x1000.jpg") center/cover no-repeat;
  }

  .webp .win {
    background: url(../img/win/image-x1000.webp) center/cover no-repeat;
  }
}

@media (max-width: 1120px) {
  .-container {
    max-width: 840px;
  }

  .win__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 27px;
    padding: 50px 0px 65px 0px;
  }

  .win__logo {
    text-align: center;
  }

  .win__logo img {
    max-width: 205px;
  }

  .win__title:not(:last-child) {
    margin: 0px 0px -12px 0px;
  }

  .win__title {
    font-size: 60px;
    line-height: 91.6666666667%;
  }

  .win__title span {
    font-size: 100px;
    line-height: 92%;
  }

  .win__subtitle img {
    max-width: 298px;
  }

  .win__subtitle:not(:last-child) {
    margin: 0px 0px -1px 0px;
  }

  .win__info:not(:last-child) {
    margin-bottom: 51px;
  }

  .win__info {
    max-width: 635px;
    margin: 0px auto;
  }

  .form-win {
    padding: 46px 40px;
  }

  .form-win__title:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .form-win__inputs:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 999.98px) {
  .-container {
    max-width: 595px;
  }

  .win {
    background: url("../img/win/image-x768.jpg") center/cover no-repeat;
  }

  .win__row {
    gap: 29px;
    padding: 50px 0px 51px 0px;
  }

  .win__image {
    display: none;
  }

  .win__title:not(:last-child) {
    margin: 0px 0px -21px 0px;
  }

  .win__subtitle:not(:last-child) {
    margin: 0px 0px -8px 0px;
  }

  .win__info:not(:last-child) {
    margin-bottom: 36px;
  }

  .win__info::before {
    width: calc(100% - 34px);
    -webkit-transform: translate(-50%, 0) skew(-12deg, 0deg);
    -ms-transform: translate(-50%, 0) skew(-12deg, 0deg);
    transform: translate(-50%, 0) skew(-12deg, 0deg);
  }

  .win__info {
    font-size: 25px;
    line-height: 108%;
    padding: 25px 48px 15px;
    max-width: 538px;
  }

  .win__info p > span:not(.yellow) {
    font-size: 27px;
    line-height: 103.7037037037%;
  }

  .win__info p > span:not(.yellow) {
    font-size: 25px;
    line-height: 104%;
  }

  .win__info p > span:not(:first-child) {
    margin: 12px 0px 0px 0px;
  }

  .win__desc {
    font-size: 23px;
  }

  .form-win {
    padding: 24px 44px;
    max-width: 438px;
    margin: 0px auto;
  }

  .form-win__title:not(:last-child) {
    margin: 0px 0px 18px 0px;
  }

  .form-win__inputs:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .form-win__input:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .webp .win {
    background: url(../img/win/image-x768.webp) center/cover no-repeat;
  }
}

@media (max-width: 767.98px) {
  .-container {
    max-width: 417px;
  }

  .win {
    background: url("../img/win/image-x480.jpg") center/cover no-repeat;
  }

  .win__row {
    padding: 14px 0px 52px 0px;
    gap: 34px;
  }

  .win__logo img {
    max-width: 149px;
  }

  .win__title:not(:last-child) {
    margin: 0px 0px -12px 0px;
  }

  .win__title {
    font-size: 59px;
    line-height: 100%;
  }

  .win__title span {
    font-size: 81px;
    line-height: 91.3580246914%;
  }

  .win__subtitle img {
    max-width: 271px;
  }

  .win__subtitle:not(:last-child) {
    margin: 0px 0px -1px 0px;
  }

  .win__info:not(:last-child) {
    margin-bottom: 41px;
  }

  .win__info {
    padding: 14px 30px;
  }

  .win__info p > span:not(:first-child) {
    margin: 17px 0px 0px 0px;
  }

  .form-win {
    padding: 24px 38px;
  }

  .form-win__title:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }

  .form-win__inputs {
    padding: 0 6px;
  }

  .form-win__inputs:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }

  .webp .win {
    background: url(../img/win/image-x480.webp) center/cover no-repeat;
  }
}

@media (max-width: 479.98px) {
  .win {
    background: url("../img/win/image-x375.jpg") center/cover no-repeat;
  }

  .win__row {
    padding: 14px 0px 109px 0px;
  }

  .win__title:not(:last-child) {
    margin: 0 0 1px 0;
  }

  .win__title {
    font-size: 49px;
    line-height: 91.8367346939%;
  }

  .win__title span {
    font-size: 70px;
    line-height: 91.4285714286%;
  }

  .win__subtitle img {
    max-width: 227px;
  }

  .win__subtitle:not(:last-child) {
    margin: 0 0 6px 0;
  }

  .win__info:not(:last-child) {
    margin-bottom: 31px;
  }

  .win__info {
    font-size: 20px;
    line-height: 105%;
    padding: 24px 44px 21px;
  }

  .win__info p > span:not(.yellow) {
    font-size: 20px;
    line-height: 105%;
  }

  .win__info p > span:not(:first-child) {
    margin: 10px 0px 0px 0px;
  }

  .win__desc {
    font-size: 20px;
  }

  .form-win {
    padding: 24px 16px;
  }

  .webp .win {
    background: url(../img/win/image-x375.webp) center/cover no-repeat;
  }
}

@media (max-width: 374.98px) {
  .win {
    background: url("../img/win/image-x320.jpg") center/cover no-repeat;
  }

  .win__row {
    padding: 14px 0px 52px 0px;
    gap: 14px;
  }

  .win__title {
    font-size: 36px;
    line-height: 91.6666666667%;
  }

  .win__title span {
    font-size: 50px;
    line-height: 110%;
  }

  .win__subtitle img {
    max-width: 195px;
  }

  .win__subtitle:not(:last-child) {
    margin: 0 0 10px 0;
  }

  .win__info:not(:last-child) {
    margin-bottom: 36px;
  }

  .win__info {
    font-size: 16px;
    line-height: 100%;
    padding: 16px 30px 17px;
  }

  .win__info p > span:not(.yellow) {
    font-size: 16px;
    line-height: 100%;
  }

  .win__info p > span:not(:first-child) {
    margin: 6px 0px 0px 0px;
  }

  .win__desc {
    font-size: 15px;
  }

  .form-win {
    padding: 20px 15px;
  }

  .form-win__title {
    font-size: 29px;
    line-height: 120.6896551724%;
  }

  .form-win__title:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .form-win__inputs:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .form-win__input {
    height: 45px;
  }

  .form-win__input input::-webkit-input-placeholder {
    font-size: 15px;
  }

  .form-win__input input::-moz-placeholder {
    font-size: 15px;
  }

  .form-win__input input:-ms-input-placeholder {
    font-size: 15px;
  }

  .form-win__input input::-ms-input-placeholder {
    font-size: 15px;
  }

  .form-win__input input,
  .form-win__input input::placeholder {
    font-size: 15px;
  }

  .form-win__input input {
    padding: 0 22px;
  }

  .form-win__btn {
    font-size: 16px;
    padding: 19px 30px;
  }

  .webp .win {
    background: url(../img/win/image-x320.webp) center/cover no-repeat;
  }
}

@media (min-width: 999.98px) and (max-width: 1919.98px) {
  .win__image {
    width: 843px;
    height: 754px;
    top: -30px;
    right: -267px;
    background: url("../img/win/image-02-x1440.png") 0/cover no-repeat;
  }

  .webp .win__image {
    background: url(../img/win/image-02-x1440.webp) 0/cover no-repeat;
  }
}

@media (min-width: 999.98px) and (max-width: 1120px) {
  .win__image {
    width: 1016px;
    height: 766px;
    top: auto;
    left: auto;
    bottom: -247px;
    right: -270px;
    background: url("../img/win/image-02-x1000.png") 0/cover no-repeat;
  }

  .form-win__inputs {
    -ms-grid-columns: 1fr [2];
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .webp .win__image {
    background: url(../img/win/image-02-x1000.webp) 0/cover no-repeat;
  }
}

@media (min-width: 1120px) and (max-width: 1919.98px) {
  .win__logo {
    margin: 0px 0px 0px 182px;
  }

  .win__form {
    margin: 190px 0px 0px 0px;
  }
}

@media (any-hover: hover) {
  .form-win__btn:hover::after {
    opacity: 1;
    visibility: visible;
  }
}

.webp .win{ background: url(../img/win/image-x1920.webp) center/cover no-repeat; }

@media (min-width: 999.98px){

  .webp .win__image{ background: url(../img/win/image-02-x1920.webp) 0/cover no-repeat; }
}

@media (max-width: 1919.98px){

  .webp .win{ background: url(../img/win/image-x1440.webp) center/cover no-repeat; }
}

@media (max-width: 1439.98px){

  .webp .win{ background: url(../img/win/image-x1000.webp) center/cover no-repeat; }
}

@media (max-width: 999.98px){

  .webp .win{ background: url(../img/win/image-x768.webp) center/cover no-repeat; }
}

@media (max-width: 767.98px){

  .webp .win{ background: url(../img/win/image-x480.webp) center/cover no-repeat; }
}

@media (max-width: 479.98px){

  .webp .win{ background: url(../img/win/image-x375.webp) center/cover no-repeat; }
}

@media (max-width: 374.98px){

  .webp .win{ background: url(../img/win/image-x320.webp) center/cover no-repeat; }
}

@media (min-width: 999.98px) and (max-width: 1919.98px){

  .webp .win__image{ background: url(../img/win/image-02-x1440.webp) 0/cover no-repeat; }
}

@media (min-width: 999.98px) and (max-width: 1120px){

  .webp .win__image{ background: url(../img/win/image-02-x1000.webp) 0/cover no-repeat; }
}